* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 40px;
    background: rgb(115, 131, 168);
    background: linear-gradient(90deg, rgba(115, 131, 168, 1) 0%, rgba(32, 62, 140, 1) 71%, rgba(11, 42, 113, 1) 100%);
    color: white;
    text-align: right;
    padding: 25px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 26px;
}



#content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


#weather-container {
    border: 2px solid black;
    margin-right: 15rem;
    margin-left: 15rem;
    align-items: center;
    font: center;
}

#fiveDayForecast h1 {
    font-size: 37px;
        margin-left: 10rem;
    color: navy;
    flex-basis: calc(100% - 320px);
}

/* Style for header */
#header {
    font-size: 29px;
    font-weight: bold;
    padding: 20px;
    color: #fff;
}

/* Style for search input and button */
#city-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    flex: 1;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Style for weather container */
#weather-container {
margin-top: -25rem;
    padding: 3rem;
    background-color: navy;
    color: white;
    border-radius: 1rem;
    justify-content: center;
}

/* Style for search container */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 30%;
}

#search-history-container {
    margin-right: 10px;
    flex-basis: 300px;
}

#search-history {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    width: 3rem;
}

/* Add this style for search history buttons */
#search-history li {
    background-color: lightblue;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 22px;
    border: solid black 1px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
}

/* Add hover effect on search history buttons */
#search-history li:hover {
    background-color: lightcyan;
}

/* Style for daily weather card */
#day0,
#day1,
#day2,
#day3,
#day4 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style for five-day forecast section */
#fiveDayForecast {
    margin-bottom: 20px;
}

/* Add responsive styling for small screens */
@media (max-width: 576px) {

    #day0,
    #day1,
    #day2,
    #day3,
    #day4 {
        width: 100%;
    }
}