* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 40px;
    background: rgb(115, 131, 168);
    background: linear-gradient(90deg, rgba(115, 131, 168, 1) 0%, rgba(32, 62, 140, 1) 71%, rgba(11, 42, 113, 1) 100%);
    color: white;
    text-align: right;
    padding: 25px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 26px;
}

h2 {
    padding-top: 1rem;
}


#weather-container {
    border: 2px solid black;
    margin-right: 15rem;
    margin-left: 15rem;
    align-items: center;
    font: center;

}

#fiveDayForecast h1 {
    font-size: 35px;
    margin-left: 28rem;
    color: navy
}

/* Style for header */
#header {
    font-size: 29px;
    font-weight: bold;
    padding: 20px;
    color: #fff;
}

/* Style for search input and button */
#city-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Style for weather container */
#weather-container {
    margin-top: 20px;
}

#search-history-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 80rem;
    margin-bottom: 20px;
}

#search-history-container h2 {
    font-size: 25px;
    font-weight: bold;
    border: solid black 1px;
    margin-right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#search-history {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

/* Add this style for search history buttons */
#search-history li {
    background-color: lightblue;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 22px;
    border: solid black 1px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
}

/* Add hover effect on search history buttons */
#search-history li:hover {
    background-color: lightcyan;
}

/* Style for daily weather card */
#day0 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#day1 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


#day2 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


#day3 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


#day4 {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style for five-day forecast section */
#fiveDay {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}