* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 40px;
    background: rgb(115, 131, 168);
    background: linear-gradient(90deg, rgba(115, 131, 168, 1) 0%, rgba(32, 62, 140, 1) 71%, rgba(11, 42, 113, 1) 100%);
    color: white;
    text-align: right;
    padding: 25px;
}

